apiVersion: v1
kind: Secret
metadata:
  name: deskbird-credentials
  namespace: default
type: Opaque
stringData:
  OP_SERVICE_ACCOUNT_TOKEN: your-1password-service-account-token-here
  OP_ITEM_NAME: Deskbird
